fastapi
uvicorn
pydantic
pydantic-settings
motor
python-jose[cryptography]
passlib[bcrypt]
python-multipart
requests
openai
langchain
langchain-openai
langchain-community
langgraph-checkpoint-mongodb
langchain-core
langgraph
python-dotenv
python-multipart
python-docx
pymupdf


